name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test

      - name: Build Docker Image
        run: docker build -t devops-demo:${{ github.sha }} 

         - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AKIA5DLF5MKS3QXE3O55}}
          aws-secret-access-key: ${{ secrets.vkoi2FnyyjUp3D4P1Hdh9YOsh8uhhcLjwy6IyhVG}}
          aws-region: ${{ secrets.ap-south-1}}

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | \
          docker login --username AWS --password-stdin \
          <your-account-id>.dkr.ecr.${{ secrets.ap-south-1 }}.amazonaws.com

      - name: Tag Image
        run: |
          docker tag devops-demo:${{ github.sha }} \
          <your-account-id>.dkr.ecr.${{ secrets.ap-south-1}}.amazonaws.com/${{ secrets.saimskin/devopsproject}}:${{ github.sha }}

      - name: Push Image
        run: |
          docker push \
          <your-account-id>.dkr.ecr.${{ secrets.ap-south-1}}.amazonaws.com/${{ secrets.saimskin/devopsproject }}:${{ github.sha }}
